header{background-color:#bbbfca ;
}
h1{
  color:#e8e8e8 ;
  text-align: center;
}
nav ul li {display: inline;
padding: 10px;

}
main article h4{
  border:1px solid#bbbfca;

margin
}
main article h4{
  border:1px solid black;

  padding:10px;
  margin: 30px;
}
nav ul li a{
  text-decoration: none;
}
main article img{
  width:100% ;
  opacity:0.9 ;
}
main article p{
  color:#ffd5cd;
}

#first_P{
  color:#0e45dd;
}
.restof_p{
 font-size: 20px;
 color:#542e71 ;
 
}
footer{
  text-align: center;
}